<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>idCamino</key>
		<string>112&lt;-&gt;122</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>1</string>
				<key>latitud</key>
				<real>25.651301</real>
				<key>longitud</key>
				<real>-100.291134</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>4.87%</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>104&lt;-&gt;105</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>2</string>
				<key>latitud</key>
				<real>25.650823</real>
				<key>longitud</key>
				<real>-100.290229</real>
				<key>tipo</key>
				<string>Elevador</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Descripción</string>
						<key>valor</key>
						<string>Hay un pequeño elevador aquí</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>31&lt;-&gt;52</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>3</string>
				<key>latitud</key>
				<real>25.651724</real>
				<key>longitud</key>
				<real>-100.289095</real>
				<key>tipo</key>
				<string>Escaleras</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>Mayor a 15 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>Sin pasamanos</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>38&lt;-&gt;63</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>4</string>
				<key>latitud</key>
				<real>25.651154</real>
				<key>longitud</key>
				<real>-100.288188</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Descripción</string>
						<key>valor</key>
						<string>Rampa en buenas condiciones</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>65&lt;-&gt;66</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>5</string>
				<key>latitud</key>
				<real>25.65113</real>
				<key>longitud</key>
				<real>-100.287513</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>17 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho</string>
						<key>valor</key>
						<string>Cuenta con un ancho adecuado</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>idPuntoClave</key>
				<string>6</string>
				<key>latitud</key>
				<real>25.651135</real>
				<key>longitud</key>
				<real>-100.287328</real>
				<key>tipo</key>
				<string>Acceso</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Claro libre</string>
						<key>valor</key>
						<string>82 cms (la norma es de 90 cms)</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>71&lt;-&gt;72</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>7</string>
				<key>latitud</key>
				<real>25.650034</real>
				<key>longitud</key>
				<real>-100.288515</real>
				<key>tipo</key>
				<string>Escaleras</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Barandal de apoyo</string>
						<key>valor</key>
						<string>Altura máxima de 85 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>122&lt;-&gt;124</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>8</string>
				<key>latitud</key>
				<real>25.651135</real>
				<key>longitud</key>
				<real>-100.291986</real>
				<key>tipo</key>
				<string>Acceso</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Claro libre</string>
						<key>valor</key>
						<string>Claro libre de 82 cms (la norma es de 90 cms)</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>77&lt;-&gt;78</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>9</string>
				<key>latitud</key>
				<real>25.6488</real>
				<key>longitud</key>
				<real>-100.289086</real>
				<key>tipo</key>
				<string>Acceso</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Claro libre</string>
						<key>valor</key>
						<string>Claro libre de 82 cms (la norma es de 90 cms)</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>idPuntoClave</key>
				<string>11</string>
				<key>latitud</key>
				<real>25.649152</real>
				<key>longitud</key>
				<real>-100.289288</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>605 cm</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>Si</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>idPuntoClave</key>
				<string>13</string>
				<key>latitud</key>
				<real>25.64945</real>
				<key>longitud</key>
				<real>-100.289248</real>
				<key>tipo</key>
				<string>Escaleras</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Número de escalones</string>
						<key>valor</key>
						<string>3 escalones de 15 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>78&lt;-&gt;79</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>10</string>
				<key>latitud</key>
				<real>25.648926</real>
				<key>longitud</key>
				<real>-100.289347</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Superficie</string>
						<key>valor</key>
						<string>Muy mal estado</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>3.38%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>240 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>54&lt;-&gt;55</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>12</string>
				<key>latitud</key>
				<real>25.651262</real>
				<key>longitud</key>
				<real>-100.289134</real>
				<key>tipo</key>
				<string>Escaleras</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>68 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>No</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>52&lt;-&gt;53</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>14</string>
				<key>latitud</key>
				<real>25.651543</real>
				<key>longitud</key>
				<real>-100.289134</real>
				<key>tipo</key>
				<string>Escaleras</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>4.5 mts</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>No</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>109 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>24&lt;-&gt;26</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>15</string>
				<key>latitud</key>
				<real>25.652039</real>
				<key>longitud</key>
				<real>-100.289191</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>9.43%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>330 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Altura de pasamanos</string>
						<key>valor</key>
						<string>97 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>14&lt;-&gt;25</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>16</string>
				<key>latitud</key>
				<real>25.652355</real>
				<key>longitud</key>
				<real>-100.289131</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>10%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Altura de pasamanos</string>
						<key>valor</key>
						<string>97 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>153 cms</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>idPuntoClave</key>
				<string>17</string>
				<key>latitud</key>
				<real>25.652572</real>
				<key>longitud</key>
				<real>-100.288762</real>
				<key>tipo</key>
				<string>Acceso</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Claro libre</string>
						<key>valor</key>
						<string>82 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>65&lt;-&gt;66</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>18</string>
				<key>latitud</key>
				<real>25.65118</real>
				<key>longitud</key>
				<real>-100.287225</real>
				<key>tipo</key>
				<string>Acceso</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Claro libre</string>
						<key>valor</key>
						<string>82 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>0&lt;-&gt;125</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>19</string>
				<key>latitud</key>
				<real>25.652627</real>
				<key>longitud</key>
				<real>-100.29088</real>
				<key>tipo</key>
				<string>Acceso</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Claro libre</string>
						<key>valor</key>
						<string>82 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>83&lt;-&gt;85</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>23</string>
				<key>latitud</key>
				<real>25.649766</real>
				<key>longitud</key>
				<real>-100.290234</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>15 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>120 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>No</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>83&lt;-&gt;84</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>20</string>
				<key>latitud</key>
				<real>25.64906</real>
				<key>longitud</key>
				<real>-100.290285</real>
				<key>tipo</key>
				<string>Acceso</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Claro libre</string>
						<key>valor</key>
						<string>82 cms</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>idPuntoClave</key>
				<string>21</string>
				<key>latitud</key>
				<real>25.648944</real>
				<key>longitud</key>
				<real>-100.290203</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>6.27%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>117 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>143 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>No</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>idPuntoClave</key>
				<string>22</string>
				<key>latitud</key>
				<real>25.64918</real>
				<key>longitud</key>
				<real>-100.290398</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>10.41%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>25 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>150 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>No</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>39&lt;-&gt;41</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>24</string>
				<key>latitud</key>
				<real>25.651798</real>
				<key>longitud</key>
				<real>-100.29023</real>
				<key>tipo</key>
				<string>Escaleras</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>103 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>No</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>19&lt;-&gt;21</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>25</string>
				<key>latitud</key>
				<real>25.65202</real>
				<key>longitud</key>
				<real>-100.289921</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>248 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>No</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Longitud</string>
						<key>valor</key>
						<string>47 mts</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>117 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>3&lt;-&gt;4</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>26</string>
				<key>latitud</key>
				<real>25.65262</real>
				<key>longitud</key>
				<real>-100.290136</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>138 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Longitud</string>
						<key>valor</key>
						<string>27 mts</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>147 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Antepecho</string>
						<key>valor</key>
						<string>90 cms</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>95&lt;-&gt;97</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>27</string>
				<key>latitud</key>
				<real>25.650479</real>
				<key>longitud</key>
				<real>-100.291189</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>44 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Longitud</string>
						<key>valor</key>
						<string>4.95 mts</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>8.87%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Barandal</string>
						<key>valor</key>
						<string>No</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>93&lt;-&gt;95</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>28</string>
				<key>latitud</key>
				<real>25.650482</real>
				<key>longitud</key>
				<real>-100.29088</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>37 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Longitud</string>
						<key>valor</key>
						<string>7.73 mts</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>4.78%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Barandal</string>
						<key>valor</key>
						<string>Si</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>92&lt;-&gt;93</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>29</string>
				<key>latitud</key>
				<real>25.650468</real>
				<key>longitud</key>
				<real>-100.290731</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Descripción</string>
						<key>valor</key>
						<string>Serie de 5 rampas</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>120 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Barandal</string>
						<key>valor</key>
						<string>No</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Longitud total</string>
						<key>valor</key>
						<string>6.2 mts</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>90&lt;-&gt;91</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>30</string>
				<key>latitud</key>
				<real>25.650119</real>
				<key>longitud</key>
				<real>-100.290594</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>9.43%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>10 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Longitud</string>
						<key>valor</key>
						<string>106 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Barandal</string>
						<key>valor</key>
						<string>No</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>32&lt;-&gt;57</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>31</string>
				<key>latitud</key>
				<real>25.651449</real>
				<key>longitud</key>
				<real>-100.288719</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>6.80%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>50 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Longitud</string>
						<key>valor</key>
						<string>7.35 mts</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Barandal</string>
						<key>valor</key>
						<string>Si</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>idCamino</key>
		<string>33&lt;-&gt;34</string>
		<key>puntosClave</key>
		<array>
			<dict>
				<key>idPuntoClave</key>
				<string>32</string>
				<key>latitud</key>
				<real>25.651671</real>
				<key>longitud</key>
				<real>-100.288277</real>
				<key>tipo</key>
				<string>Rampa</string>
				<key>descriptores</key>
				<array>
					<dict>
						<key>nombre</key>
						<string>Pendiente</string>
						<key>valor</key>
						<string>11.66%</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Desnivel</string>
						<key>valor</key>
						<string>42 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Longitud</string>
						<key>valor</key>
						<string>3.6 mts</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Ancho libre</string>
						<key>valor</key>
						<string>141 cms</string>
					</dict>
					<dict>
						<key>nombre</key>
						<string>Pasamanos</string>
						<key>valor</key>
						<string>Si</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
